:root {
    --generl-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #FFF9F4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
    --transition: all .4s;
    --border-radius: 20px;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--generl-text);
    background: var(--general-bg);
}

.body--opened-menu {
    overflow: hidden;
    /* Скрываем скролбар прокрутку */
}

.body--opened-modal {
    overflow: hidden;
}

.wrapper {
    /* Оболочка для всего контента */
    min-height: 100%;
    /* всегда по размеру окна по высоте? если контента на странице мало, то хэдер и футер всегда будут прижаты к верху и низу*/
    width: 100%;
    /* Всегда ширина по размеру окна, чтобы не появился горизонтальный скрол */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    /* Будет занимать все свободное место, т.е. если даже контента мало, этот контейнер будет растягиваться по высоте и какбы прижимать хедер и футер к верху и низу окна */
}

.main__about {
    padding: 140px 0;
}

.main__program {
    padding-bottom: 145px;
}

.conteiner {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-text);
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 3px 15px;
    height: 62px;

    transition: var(--transition);
}

.button:hover {
    background-color: #FF9138;
}

/* ---------------- Modal window -------------- */
.modal {
    position: fixed;
    /* Позцианируем модальное окно фиксированно */
    inset: 0;
    /* Растягиваю модальное окно по всему экрану */
    background: #0000004a;
    /* Цвет и прозрачность оверлэй */
    z-index: 10;
    /* Чтобы сделать не кликабельными все ссылки и кнопки сайта, т.к. у модалки индекс будет выше и она какбы перекроет сайт */
    padding: 15px;

    display: flex;
    /* размещаем модалку по центру */
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    position: relative;
    background: var(--general-bg);
    border-radius: var(--border-radius);
    padding: 0 60px 60px;
    max-width: 428px;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path,
.modal__cancel rect {
    transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #AC907A;
}

.modal__img {
    margin: -65px 0 15px 13px;
    /* озицианируем капкейки на модалке */
    max-width: 100%;
    /* чтобы изображение уменьшалось при уменьшении экрана, более адаптивно */
}

.modal__title {
    font-family: "Gabriola";
    font-size: 42px;
    line-height: 0.9;
    color: var(--accent-text);
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form-label {
    margin-bottom: 10px;
}

.field {
    display: block;
    position: relative;
}

.field span {
    position: absolute;
    top: 12px;
    left: 28px;
    color: #AC907A;
    font-size: 11px;

    opacity: 0;
    /* Скрываю подсказку она будет видна только при фокусировке на поле инпут, и можно было плавно ее выводить при ховере */
    visibility: hidden;
    /* Скрываю возможность нажать на эту подсказку когда она скрыта */
    transition: var(--transition);
}

.field__input {
    display: block;
    /* т.к. тег input строчный делаем его блочным */
    width: 100%;
    /* Делаем его на ширину своео родителя, т.е. на ширину form */
    background: #00000000;
    /* Прозрачный бэкграунд */
    border: 1px solid #AC907A;
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    font-size: 16px;
    color: var(--generl-text);

    transition: var(--transition);
}

.field__input:hover {
    border-color: var(--accent-color);
}

.field__input::placeholder {
    color: #AC907A;
    /* Цвет плэйсхолдера в поле инпут */
    transition: var(--transition);
}

.field__input:hover::placeholder {
    /* Ховер эффект для плэйсхолдера поля инпута */
    color: var(--accent-color);
}

.field__input:focus {
    padding: 26px 42px 12px 28px;
}

.field__input:focus+span {
    /* Делаем подсказку видимой при фокусировке на поле инпут */
    opacity: 1;
    visibility: visible;
}


/*  ============== header ==================== */

.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
    /* 50% по x чтобы при уменьшени экрана бэкграунд всегда был по центру, 100% по у чтобы при уменьшении экрана снизу всегда был виден изгиб */
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}


.nav__list {
    display: flex;
    gap: 4vh 40px;
}


.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);


    opacity: 0;
    transition: var(--transition);
}

.nav__link:hover::before {
    opacity: 1;
}

/* ------------------------------------ Burger ----------------- */
.burger-icon {
    display: block;
    display: none;
    width: 50px;
    height: 50px;

    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--generl-text);
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

/* Скрываем бургер, показываем крестик */
.body--opened-menu .burger-icon span {
    background-color: transparent;
    /* Бесцветный */
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

.header__hero {
    padding: 50px 0 140px;
}

/* ============ Header (hero section) ===================== */

.hero {}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    color: #B197B3;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    background: #B197B3;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0 10px;
}

.hero__info span:last-child::after {
    content: none;
}

.hero__title {
    margin-bottom: 30px;
}

.hero__text {
    max-width: 360px;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 358px;
    width: 100%;
    /* Делаем это для того чтоы в мобильной версии кнопка не сжималась */
}

.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img>img {
    /* Селектор рименяется только для img первого порядка */
    width: 100%;
    /* занимает всю ширину родительскго контейнера (247px) */
}

.hero__img-control {
    position: absolute;
    bottom: 11%;
    left: calc(100% - 39px);
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    text-align: left;
}

.hero__img-control--moile {
    display: none;
}

.hero__img-button {
    flex-shrink: 0;
    /* Чтобы кнопка не сжималась */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #FFE0CB;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    position: relative;
}

.hero__img-button img {
    padding-left: 8.8%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    /* Задаем равномерный отступ со всех сторон, это тоже самое как рописать все top, right, botom, left с одинаковыми значениями */
    border: 1px solid var(--accent-color);
    border-radius: 50%;

    opacity: 0;
    transition: var(--transition);
}

.hero__img-button:hover::before {
    opacity: 1;
}

/* ==================== About ================================= */

.about {}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2, auto);
    gap: 40px 53px;
    /* между строк 40, между колонками 3 */
}

.about__img {
    border-radius: var(--border-radius);
    overflow: hidden;
    /* Чтобы изоражение внутри обрезалось по размеру этого контейнера, а не выходило как бы за его пределы */
    position: relative;
    grid-row: 1/-1;
    /* растягиваем изображение на две строки */
}

.about__img>img {
    width: 100%;
    /* Чтоы изоражение полностью подчнялось размерам своего родителя */
    height: 100%;
    object-fit: cover;
    /* Растягивает изоражение на весь контейнер */
    object-position: 0 50%;
    /* Позицианирует изоражение по центру при обрезке по оси У, а по оси Х будетобрезаться мправа тем самым, сохраняя девушку на картинке при уменьшении экрана, когда происходит обрезка этоо изображения */
}

.about__img-control {
    position: absolute;
    bottom: 4.7%;
    left: 5%;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    text-align: left;
    background: #957B97e6;
    border-radius: var(--border-radius);
    padding: 15px 20px;
    color: var(--general-bg);
}

.about__img-button {
    flex-shrink: 0;
    /* Чтобы кнопка не сжималась */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: var(--general-bg);
    position: relative;
}

.about__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    /* Задаем равномерный отступ со всех сторон, это тоже самое как рописать все top, right, botom, left с одинаковыми значениями */
    border: 1px solid #CEAAD0;
    border-radius: 50%;

    opacity: 0;
    transition: var(--transition);
}

.about__img-button:hover::before {
    opacity: 1;
}

.about__body {}

.about__heading {
    margin-bottom: 30px;

}

.about__title {}

.about__title-text {}

.about__text {}

.about__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.about__grid-item {
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    padding: 29px 24px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.about__grid-img {
    border: 1px solid var(--generl-text);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    /* Чтоы этот элемент не сжимался */
    display: flex;
    /* Позицианируем иконку по центру */
    align-items: center;
    justify-content: center;
}

.about__grid-text {}


/* =================== Proram ============ */


.program {}

.program__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 30px 15px;
}

.program__title {
    margin-bottom: 20px;
}

.program__text {}

.program__tab-content {
    margin-bottom: 40px;
}

.program__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    /* на всякий случай чтобы контент никогда не столкнулся */
}

.proram__action {
    display: grid;
    grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr;
    /* 3 строки, 2 колонки */
    gap: 40px;
    max-width: 501px;
    flex-shrink: 0; /* чтобы не сжимался. При уменьшении экрана будет сжиматься и уменьшатся картинка, а не текст слева */
    width: 100%;
}

.program__discount {
    font-size: 20px;
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    padding: 40px;
    grid-row: 1 / 3;
    /* растягиваем первый элемент от первофй до 3 линии */
}

.program__discount-value {
    display: block;
    font-family: "Gabriola";
    font-size: 74px;
    line-height: .82;
    transform-origin: 0 0;
    /* Чтобы поменять координаты начала анимации */
    color: var(--accent-color);
    margin: 0 0 7px 13%;

    animation: discount-grow .8s linear infinite alternate;
}

@keyframes discount-grow {
    0% {
        color: var(--accent-color);
    }

    100% {
        transform: translateX(3%) scale(1.1);
        color: #FF9138;
    }
}

.program__discount span {
    font-size: 16px;
    margin-left: 35%;
}

.program__price {}

.program__price-text {
    line-height: 1.6;
    text-transform: uppercase;
    color: #CEAAD0;
    margin-bottom: 5px;
}

.program__price-value {
    font-family: "Gabriola";
    font-size: 32px;
    line-height: .9;
}

.program__price-value--big {
    font-size: 50px;
    color: var(--accent-text);
}

.proram__button {
    grid-column: 1 / -1;
}

.program__img img {
    width: 100%;
    /* Теперь изоражене будет слушаться своего родителя и кода родитель будет съужатся, изоражение будет тоже съужаться */
}




.tab-controls {
    display: flex;
    gap: 26px;
}

.tab-controls__item {}

.tab-controls__link {
    /* Эффекты прописываются для link, а не для item, т.к. вся ссылка должна быть кликабельной */
    display: block;
    border-radius: 100px;
    padding: 14px 30px;
    box-shadow: 0px 4px 20px rgba(206, 195, 185, 0.3);
    white-space: nowrap;
    /* Чтобы при сжатии кнопки текст в ней не переносился */

    transition: var(--transition);
}

.tab-controls__link:hover {
    background: #FFE0CB;
}

.tab-controls__link--active {
    background: #FFE0CB;
    box-shadow: 0px 4px 20px rgba(206, 195, 185, 0);
}

.tab-content {
    display: none;
    /* Этот элемент изначально скрыт/*  */
}

.tab-content--show {
    display: block;
    /* отображаем элемент */
}

/*------------------------ Accordion ------------------------------------ */

.accordion-list {}

.accordion-list__item {
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);

    margin-bottom: 30px;
}

.accordion-list__item:last-child {
    margin-bottom: 0;
}

.accordion-list__item--opened {}

.accordion-list__control {
    padding: 41px 30px;
    width: 100%;
    background: transparent;
    /* Прозрачный */
    text-align: left;

    display: flex;
    justify-content: space-between;
    gap: 15px;

    font-family: 'Gabriola';
    font-size: 42px;
    line-height: 90%;
    color: var(--accent-text);
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 20px;
}

.accordion-list__control-title {}

.accordion-list__control-icon {
    width: 36px;
    height: 36px;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    /* Чтобы круг не смещался */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.accordion-list__control-icon svg {
    margin-top: .5px;
    margin-left: 1px;
}

.accordion-list__control-icon svg {
    margin-top: .5px;
    margin-left: 1px;
}

.accordion-list__control-icon path {
    transition: var(--transition);
}

.accordion-list__control:hover .accordion-list__control-icon {
    transform: rotate(90deg);
    background: var(--accent-color);
}

.accordion-list__control:hover .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__item--opened .accordion-list__control-icon {
    transform: rotate(90deg);
    background: var(--accent-color);
}

.accordion-list__item--opened .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__content {
    max-height: 0;
    /* Элемент будет 0 в высоту не смотря на то, сколько у него контента */
    overflow: hidden;
    /* весь контент не будет торчать */
    transition: var(--transition);
}

.accordion-content {
    padding: 0 30px 40px;
    display: flex;
    gap: 80px;
}


.accordion-content__col:first-child {
    max-width: 507px;
    /* У всех колонок максимальная ширина одинаковая и мы ее задаем  */
    width: 100%;
    /* Нужно чтобы этот элемент ратягивался, поэтому задаем ширину 100% */
}

.accordion-content__title {
    text-transform: uppercase;
    line-height: 1.6;
    color: #CEAAD0;
    padding-bottom: 20px;
}

.accordion-content__list {}

.accordion-content__item {
    margin-bottom: 20px;
    display: flex;
}

.accordion-content__item:last-child {
    margin-bottom: 0;
}

.accordion-content__icon {
    width: 24px;
    height: 24px;
    border: 1px solid #CEAAD0;
    border-radius: 50%;
    display: inline-flex;
    /* Чтобы иконка расположилась правильно в строку */
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.accordion-content__text {
    max-width: 274px;
    /* Вторая колонка также ограничена по ширине, которую мы и задаем */
}



/* ================= Footer ============================ */

.footer {
    color: var(--general-bg);
    background: #AB8261;
    padding: 60px 0 66px;
    /* Все колонки в футере оступают от верха на 60px */
}

.footer__inner {
    display: grid;
    justify-content: space-between;
    grid-template-columns: .9fr .9fr 1.1fr auto;
    /* auto прижмет крайнюю правую колонку к правому краю контейнера */
    gap: 40px 15px;
}

.footer__col:first-child {
    /* Первая колонка в футере отступает от верха меньше остальных, только на 30px */
    margin-top: -30px;
}

.footer__logo {
    display: block;
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
}

.footer__logo-text {
    margin-bottom: 20px;
}

.footer__col-list {
    margin-top: -5px;
    /* чтобы компенсировать установленный в footer__col-link паддинг для расширения области кликабельности */
}

.footer__col-item {
    margin-bottom: 10px;
}

.footer__col-item:last-child {
    margin-bottom: 0;
}

.footer__col-link {
    display: block;
    padding: 5px 0;
    /* для того чтобы расширить область кликабельности ссылки. Эти паддинги суммируются, т.е. между ссылками будет 10px, а по макету должо быть 20, поэтому в footer__col-item делаем margin = 10px  */
    position: relative;
    z-index: 1;
}

.footer__col-link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);

    opacity: 0;
    transition: var(--transition);
}

.footer__col-link:hover::before {
    opacity: 1;
}



.footer__contact-list {}

.footer__contact-item {
    margin-bottom: 10px;
}

.footer__contact-item:last-child {
    margin-bottom: 0;
}

.footer__col-tel {
    margin-bottom: 47px;
}

.footer__col-number {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    transition: var(--transition);
}

.footer__col-number:hover {
    color: var(--accent-color);
}

.footer__col-copy {
    color: #DEC5B1;
}

.socials {
    line-height: 0;
}

.socials__list {
    display: flex;
    gap: 15px;
}

.socials__item {}

.socials__link path {
    transition: var(--transition);
}

.socials__link:hover path {
    fill: var(--accent-color);
}


/* ============= Media ================================= */

@media (max-width: 1200px) {
    .hero__img {
        /* Убраем отступ справа от картинки и ограничиваем ее ширину т.к. hero__img-control пытается ее растянуть по ширине */
        margin: 0;
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    /* --------------------------------------------------- */

    .program__top {
        flex-direction: column;
        align-items: stretch;
    }

    .tab-controls {
        flex-wrap: wrap;
    }

    /* --------------------------------------------------- */

    .footer__inner {
        justify-content: space-between;
        grid-template: repeat(2, auto) / repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .about__img {
        grid-row: auto;
    }

    .about__body {
        align-self: center;
    }

    .about__grid {
        grid-column: 1/-1;
    }

    /* ----------------------------------------- */

    .accordion-list__control {
        padding: 25px 30px;
        font-size: 35px;
    }

    .accordion-content {
        gap: 30px;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background-color: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;

        /* Скрывваем меню */
        transform: translateY(-50%);
        /* Создает выкатывающееся меню */
        opacity: 0;
        /* Делает анимацию (меню будет плавно проявлятся) */
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        /* Создает выкатывающееся меню */
        opacity: 1;
        /* Делает анимаию (меню будет плавно проявлятся) */
        visibility: visible;
        /* Отображает  меню на экране */
        transition: var(--transition);
    }


    .burger-icon {
        display: flex;
    }

    /* --------------------------------------------------- */

    .proram__action {
        max-width: none; /* блок будет растягиваться на всю ширину */
        grid-template: repeat(3, auto) / repeat(2, 1fr);
    }

    .program__img {
        display: none; /* скрываем картинку */
    }

    /* --------------------------------------------------- */

    .footer__inner {
        justify-content: center;
        grid-template: none;
        text-align: center;
        gap: 0;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }

    .footer__col:nth-child(3) {
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {
    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        /* Чтобы контент занимал всю ширину родитея, это чтоы центрировался правильно */
    }

    .hero__img {
        display: none;
    }

    .hero__img-control--moile {
        display: flex;
        margin: 0 0 30px;
    }

    /* =========== about ================== */
    .about__inner {
        grid-template: none;
        /* превращаю grid в обычный grid буз колонок и строк, все элементы выстроятся в столбец */
    }

    .about__grid-img {
        max-width: 500px;
        justify-self: center;
    }

    .about__body {
        text-align: center;
    }

    .about__grid {
        grid-template: none;
    }

    /* ----------------------------------------- */

    .tab-controls {
        gap: 10px;
    }

    .tab-controls__link {
        padding: 6px 20px;
    }

    .accordion-content {
        flex-direction: column;
    }

    .accordion-content__col:first-child {
        max-width: none; /* убираем ограниение по ширине колонки */
    }

    .accordion-content__text {
        max-width: none;
    }
}

@media (max-width: 600px) {

    .main__about {
        padding: 60px 0 80px;
    }

    .main__program {
        padding: 0 0 80px;
    }

    .title {
        font-size: 12vw;
    }

    /* ===================== hero ================= */
    .header__hero {
        padding-bottom: 80px;
    }

    /* ================ about ================ */

    .about__img-control {
        bottom: 0;
        left: 0;
        right: 0;
        max-width: none;
        border-radius: 0;
        padding: 10px 15px;
    }

    .about__grid {
        gap: 15px;
    }

    .about__grid-item {
        padding: 10px 15px;
    }

    /* ----------------------------------------- */

    .program__title {
        text-align: center;
    }

    .program__top {
        text-align: center;
        margin-bottom: 20px;
    }

    .proram__action {
        grid-template: repeat(3, auto) / auto auto;
        gap: 15px;
    }

    .program__discount { /* растяшиваем блок с дисконтом на всю ширину */
        grid-row: auto;
        grid-column: 1/-1;
        justify-self: center;
    }

    .tab-controls {
        justify-content: center;
    }

    .accordion-list__item {
        margin-bottom: 10px;
    }

    .accordion-list__control {
        padding: 17px 30px;
        font-size: 28px;
    }

    .accordion-list__control-icon { /* уменшаю размер иконки */
        width: 26px;
        height: 26px;
    }

    .accordion-list__control-icon svg {
        width: 10px;
    }
}

@media (max-width: 450px) {
    .modal__img {
        width: 50%;
        margin-top: -45px;
    }

    .modal__title {
        font-size: 35px;
    }

    .modal__window {
        padding: 0 15px 45px;
    }

    /* --------------------------------- */

    .proram__action {
        grid-template: none;
    }

    .program__price {
        text-align: center;
    }

    .accordion-list__control {
        padding: 17px 15px;
    }

    .accordion__content {
        padding: 0 15px 30px;
    }

    .accordion-content__item {
        margin-bottom: 10px;
    }
}