:root {
    --generl-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #FFF9F4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--generl-text);
    background: var(--general-bg);
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    /* Оболочка для всего контента */
    min-height: 100%;
    /* всегда по размеру окна по высоте */
    width: 100%;
    /* Всегда ширина по размеру окна, чтобы не появился горизонтальный скрол */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    /* Будет занимать все свободное место, т.е. если даже контента мало, этот контейнер будет растягиваться по высоте и какбы прижимать хедер и футер к верху и низу окна */
}

.conteiner {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 3px 15px;
    height: 62px;

    transition: all .4s;
}

.button:hover {
    background-color: #FF9138;
}

/*  ============== header ==================== */

.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
    /* 50% по x чтобы при уменьшени экрана бэкграунд всегда был по центру, 100% по у чтобы при уменьшении экрана снизу всегда был виден изгиб */
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}


.nav__list {
    display: flex;
    gap: 4vh 40px;
}


.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);


    opacity: 0;
    transition: all .4s;
}

.nav__link:hover::before {
    opacity: 1;
}

/* - Burger - */
.burger-icon {
    display: block;
    display: none;
    width: 50px;
    height: 50px;

    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--generl-text);
    transition: all .4s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

/* Скрывембургер, показываем крестик */
.body--opened-menu .burger-icon span {
    background-color: transparent;
    /* Бесцветный */
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

/* ============ Header (hero section) ===================== */

.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    color: #B197B3;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    background: #B197B3;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0 10px;
}

.hero__info span:last-child::after {
    content: none;
}

.hero__title {
    font-family: "Gabriola";
    font-size: 74px;
    line-height: 0.82;
    margin-bottom: 30px;
}

.hero__text {
    max-width: 360px;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 358px;
}

.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img-control {
    position: absolute;
    bottom: 11%;
    left: calc(100% - 39px);
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
}

.hero__img-button {
    flex-shrink: 0;
    /* Чтобы кнопка не сжималась */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #FFE0CB;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    position: relative;
}

.hero__img-button img {
    padding-left: 8.8%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    /* Задаем равномерный отступ ос всех сторон, это тоже самое как рописать все top, right, botom, left с одинаковыми значениями */
    border: 1px solid var(--accent-color);
    border-radius: 50%;

    opacity: 0;
    transition: all .4s;
}

.hero__img-button:hover::before {
    opacity: 1;
}

/* ============= Media ================================= */

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background-color: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;

        /* Скрывваем меню */
        transform: translateY(-50%);
        /* Создает выкатывающееся меню */
        opacity: 0;
        /* Делает анимацию (меню будет плавно проявлятся) */
        visibility: hidden;
        transition: all .4s;

    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        /* Создает выкатывающееся меню */
        opacity: 1;
        /* Делает анимаию (меню будет плавно проявлятся) */
        visibility: visible;
        /* Отображает  меню на экране */
        transition: all .4s;
    }

    .body--closed-menu .nav {
        transition: all .4s;
    }

    .burger-icon {
        display: flex;
    }
}
